<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="Pagination h-12 justify-start items-start gap-2 inline-flex">
        <div class="IconButton p-3 origin-top-left rotate-180 rounded-[84px] justify-start items-start gap-2.5 flex">
            <div class="FiArrowRight w-6 h-6 relative"></div>
        </div>
        <div class="Pages justify-start items-start flex">
            <div class="Pagination w-12 h-12 px-4 py-3.5 bg-blue-700 rounded-[50px] justify-center items-center flex">
                <div class=" text-center text-white text-sm font-medium font-['Inter'] leading-tight">01</div>
            </div>
            <div class="Pagination w-12 h-12 px-[15px] py-3.5 rounded-[50px] justify-center items-center flex">
                <div class=" text-center text-gray-500 text-sm font-medium font-['Inter'] leading-tight">02</div>
            </div>
            <div class="Pagination w-12 h-12 pl-[15px] pr-3.5 py-3.5 rounded-[50px] justify-center items-center flex">
                <div class=" text-center text-gray-500 text-sm font-medium font-['Inter'] leading-tight">03</div>
            </div>
            <div
                class="Pagination w-12 h-12 pl-[15px] pr-3.5 py-3.5 bg-gray-100 rounded-[50px] justify-center items-center flex">
                <div class=" text-center text-zinc-900 text-sm font-medium font-['Inter'] leading-tight">04</div>
            </div>
            <div class="Pagination w-12 h-12 px-[15px] py-3.5 rounded-[50px] justify-center items-center flex">
                <div class=" text-center text-gray-500 text-sm font-medium font-['Inter'] leading-tight">05</div>
            </div>
        </div>
        <div class="IconButton p-3 bg-sky-100 rounded-[84px] justify-start items-start gap-2.5 flex">
            <div class="FiArrowRight w-6 h-6 relative"></div>
        </div>
    </div>
    <div class="Jobs h-[1380px] flex-col justify-start items-start gap-6 inline-flex">
        <div
            class="Job w-[1320px] h-[132px] pl-8 pr-16 py-8 bg-gradient-to-r from-yellow-50 to-white rounded-xl border border-zinc-200 justify-start items-center gap-[630px] inline-flex">
            <div class="Info justify-center items-center gap-5 inline-flex">
                <div class="EmployersLogo p-5 bg-pink-500 rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 justify-center items-center flex"></div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-gray-800 text-lg font-medium font-['Inter'] leading-7">
                            Dribbble</div>
                        <div
                            class="Badge px-3 py-[3px] bg-rose-50 rounded-[52px] justify-start items-start gap-2.5 flex">
                            <div class="Featured text-red-500 text-sm font-medium font-['Inter'] leading-tight">Nổi bật
                            </div>
                        </div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-500 text-sm font-normal font-['Inter'] leading-tight">Hà
                                Nội</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Bán thời gian, Toàn thời gian</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 inline-flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] h-[132px] pl-8 pr-16 py-8 bg-white rounded-xl border border-zinc-200 justify-start items-center gap-[724px] inline-flex">
            <div class="Info justify-center items-center gap-5 inline-flex">
                <div class="EmployersLogo p-5 bg-gray-800 rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 px-[2.59px] justify-center items-center flex"></div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-zinc-900 text-lg font-medium font-['Inter'] leading-7">Apple
                        </div>
                        <div
                            class="Badge px-3 py-[3px] bg-rose-50 rounded-[52px] justify-start items-start gap-2.5 flex">
                            <div class="Featured text-red-500 text-sm font-medium font-['Inter'] leading-tight">Nổi bật
                            </div>
                        </div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-500 text-sm font-normal font-['Inter'] leading-tight">Hà
                                Nội</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Toàn thời gian</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 inline-flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] h-[132px] pl-8 pr-16 py-8 bg-white rounded-xl border border-zinc-200 justify-start items-center gap-[731px] inline-flex">
            <div class="Info justify-center items-center gap-5 inline-flex">
                <div class="EmployersLogo p-5 bg-black rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 relative"></div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-zinc-900 text-lg font-medium font-['Inter'] leading-7">Figma
                        </div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-500 text-sm font-normal font-['Inter'] leading-tight">Hà
                                Nội</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Bán thời gian</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 inline-flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] p-8 bg-white rounded-lg border border-zinc-200 justify-between items-center inline-flex">
            <div class="Info justify-start items-center gap-5 flex">
                <div class="EmployersLogo p-5 bg-red-500 rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 pt-[2.47px] pb-[2.50px] justify-center items-center flex"></div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-gray-800 text-lg font-medium font-['Inter'] leading-7">Udemy
                        </div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-500 text-sm font-normal font-['Inter'] leading-tight">Hà
                                Nội</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Thực tập</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] h-[132px] pl-8 pr-16 py-8 bg-white rounded-xl border border-zinc-200 justify-start items-center gap-[695px] inline-flex">
            <div class="Info justify-center items-center gap-5 inline-flex">
                <div class="EmployersLogo p-5 bg-gray-100 rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 relative"></div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-gray-800 text-lg font-medium font-['Inter'] leading-7">
                            Microsoft</div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-400 text-sm font-normal font-['Inter'] leading-tight">TP.
                                Hồ Chí Minh</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Linh hoạt</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 inline-flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] p-8 bg-gradient-to-r from-yellow-50 to-white rounded-xl shadow border border-blue-700 justify-between items-center inline-flex">
            <div class="Info justify-start items-center gap-5 flex">
                <div class="EmployersLogo p-5 bg-lime-500 rounded-md justify-start items-start gap-2.5 flex">
                    <div
                        class="EmployersLogo w-7 h-7 pl-[0.25px] pr-[0.19px] py-[4.25px] justify-center items-center flex">
                    </div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-2.5 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-gray-800 text-lg font-medium font-['Inter'] leading-7">Upwork
                        </div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-500 text-sm font-normal font-['Inter'] leading-tight">Hà
                                Nội</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Làm việc từ xa</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 flex">
                <div class="IconButton p-3 bg-gray-100 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-blue-700 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-white text-base font-semibold font-['Inter'] capitalize leading-normal">Chi
                        tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] p-8 bg-white rounded-lg border border-zinc-200 justify-between items-center inline-flex">
            <div class="Info justify-start items-center gap-5 flex">
                <div class="EmployersLogo p-5 bg-blue-600 rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 px-[7px] justify-center items-center flex"></div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-zinc-900 text-lg font-medium font-['Inter'] leading-7">
                            Facebook</div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-400 text-sm font-normal font-['Inter'] leading-tight">TP.
                                Hồ Chí Minh</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Làm việc từ xa</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] p-8 bg-white rounded-lg border border-zinc-200 justify-between items-center inline-flex">
            <div class="Info justify-start items-center gap-5 flex">
                <div class="EmployersLogo p-5 bg-gray-100 rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 pl-[0.06px] justify-center items-center flex">
                        <div class="Group w-[27.94px] h-7 relative">
                        </div>
                    </div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-gray-800 text-lg font-medium font-['Inter'] leading-7">Slack
                        </div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-500 text-sm font-normal font-['Inter'] leading-tight">Hà
                                Nội</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Toàn thời gian</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
        <div
            class="Job w-[1320px] p-8 bg-white rounded-lg border border-zinc-200 justify-between items-center inline-flex">
            <div class="Info justify-start items-center gap-5 flex">
                <div class="EmployersLogo p-5 bg-fuchsia-700 rounded-md justify-start items-start gap-2.5 flex">
                    <div class="EmployersLogo w-7 h-7 relative"></div>
                </div>
                <div class="Heading flex-col justify-start items-start gap-3 inline-flex">
                    <div class="Heading justify-start items-center gap-2 inline-flex">
                        <div class="SuniorUxDesigner text-zinc-900 text-lg font-medium font-['Inter'] leading-7">
                            Instagram</div>
                    </div>
                    <div class="Info justify-start items-center gap-4 inline-flex">
                        <div class="Loaction justify-start items-center gap-1.5 flex">
                            <div class="FiMapPin w-[22px] h-[22px] relative"></div>
                            <div class="California text-gray-400 text-sm font-normal font-['Inter'] leading-tight">TP.
                                Hồ Chí Minh</div>
                        </div>
                        <div class="Price justify-start items-center gap-1.5 flex">
                            <div class="CalendarBlank11 w-[22px] h-[22px] relative"></div>
                            <div class="DaysRemaining text-gray-500 text-sm font-normal font-['Inter'] leading-tight">
                                Bán thời gian</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Frame293 justify-start items-start gap-2 flex">
                <div class="IconButton p-3 rounded-[5px] justify-start items-start gap-2.5 flex">
                    <div class="Bookmarksimple w-6 h-6 justify-center items-center flex">
                        <div class="Bookmarksimple w-6 h-6 relative">
                        </div>
                    </div>
                </div>
                <div class="Button px-6 py-3 bg-sky-100 rounded-[3px] justify-center items-center gap-3 flex">
                    <div class="Primary text-blue-700 text-base font-semibold font-['Inter'] capitalize leading-normal">
                        Chi tiết</div>
                    <div class="FiArrowRight w-6 h-6 relative"></div>
                </div>
            </div>
        </div>
    </div>
   
</body>

</html>