<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[1920px] h-[452px] relative">
        <div class="w-[1920px] h-96 left-0 top-0 absolute bg-[#042852]"></div>
        <div class="w-[1920px] px-[300px] py-6 left-0 top-[384px] absolute bg-[#042852] border-t border-[#838383] justify-between items-center inline-flex">
          <div class="text-[#767f8c] text-sm font-normal font-['Inter'] leading-tight">@ 2024 Itseek - Thực hiện bởi Nguyễn Hồng Phong</div>
          <div class="justify-start items-start gap-5 flex">
            <div class="w-5 h-5 relative"></div>
            <div class="w-5 h-5 relative"></div>
            <div class="w-5 h-5 relative"></div>
          </div>
        </div>
        <div class="w-[1322px] h-[204px] left-[299px] top-[100px] absolute">
          <div class="left-[402px] top-0 absolute flex-col justify-start items-start gap-4 inline-flex">
            <div class="w-[200px] text-white text-xl font-medium font-['Inter'] leading-loose">Về Itseek</div>
            <div class="flex-col justify-start items-start gap-1 flex">
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Trở lại</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1.5 inline-flex">
                <div class="w-5 h-5 relative"></div>
                <div class="text-center text-white text-base font-medium font-['Inter'] leading-normal">Liên hệ</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Đánh giá</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Tin tức</div>
              </div>
            </div>
          </div>
          <div class="left-[642px] top-0 absolute flex-col justify-start items-start gap-4 inline-flex">
            <div class="w-[200px] text-white text-xl font-medium font-['Inter'] leading-loose">Ứng viên</div>
            <div class="flex-col justify-start items-start gap-1 flex">
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Công việc</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Nhà tuyển dụng</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Tổng quan ứng viên</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Việc làm đã lưu</div>
              </div>
            </div>
          </div>
          <div class="left-[882px] top-0 absolute flex-col justify-start items-start gap-4 inline-flex">
            <div class="w-[200px] text-white text-xl font-medium font-['Inter'] leading-loose">Nhà tuyển dụng</div>
            <div class="flex-col justify-start items-start gap-1 flex">
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Đăng việc làm</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Duyệt công việc</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Bảng điều khiển</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Ứng dụng</div>
              </div>
            </div>
          </div>
          <div class="left-[1122px] top-0 absolute flex-col justify-start items-start gap-4 inline-flex">
            <div class="w-[200px] text-white text-xl font-medium font-['Inter'] leading-loose">Hỗ trợ</div>
            <div class="flex-col justify-start items-start gap-1 flex">
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Câu hỏi thường gặp</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Chính sách bảo mật</div>
              </div>
              <div class="py-1.5 justify-start items-center gap-1 inline-flex">
                <div class="text-center text-[#9199a3] text-base font-normal font-['Inter'] leading-normal">Điều khoản và điều kiện</div>
              </div>
            </div>
          </div>
          <div class="w-[312px] h-36 left-0 top-0 absolute">
            <div class="left-0 top-[64px] absolute flex-col justify-start items-start gap-3 inline-flex">
              <div class="justify-start items-start inline-flex">
                <div class="text-[#939aad] text-lg font-normal font-['Inter'] leading-7">Liên hệ</div>
                <div class="text-white text-lg font-medium font-['Inter'] leading-7"> +84 33456789</div>
              </div>
              <div class="w-[312px] text-[#767e94] text-sm font-normal font-['Inter'] leading-tight">6391 Elgin St. Celina, Delaware 10299, New York, United States of America</div>
            </div>
            <img class="w-[114px] h-10 left-0 top-0 absolute" src="https://via.placeholder.com/114x40" />
          </div>
        </div>
      </div>
</body>
</html>