<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lấy lại mật khẩu 2</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="overflow-hidden pl-20 bg-white max-md:pl-5">
        <div class="flex gap-5 max-md:flex-col">
            <div class="flex flex-col w-[35%] max-md:ml-0 max-md:w-full">
                <div class="flex flex-col mt-9 w-full text-base text-gray-500 max-md:mt-10 max-md:max-w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f912245dfb70c2756ea6bae66287b8b5e8a66aee211ead734f40118d3d3c5a7?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain max-w-full aspect-[2.78] w-[111px]" alt="Company logo" />
                    <h1 class="self-start mt-64 text-3xl font-medium leading-none text-zinc-900 max-md:mt-10">
                        Lấy lại mật khẩu
                    </h1>
                    <p class="mt-9 leading-6 max-md:max-w-full">
                        Để bảo mật an toàn thông tin. Vui lòng không lấy lại mật khẩu đã từng
                        sử dụng trước đây
                    </p>
                    <form class="flex flex-col mt-9 w-full max-md:max-w-full">
                        <div
                            class="flex flex-wrap gap-10 justify-center px-5 py-3 max-w-full bg-white rounded-md border border-solid border-zinc-200 w-[536px]">
                            <label for="newPassword" class="sr-only">Mật khẩu mới</label>
                            <input type="password" id="newPassword" placeholder="Mật khẩu mới" aria-label="Mật khẩu mới"
                                class="flex-grow" />
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/1e33c02573101c0b16db6a3d20fbe1ab7233987d6a039ca20bc32d4404420a0e?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-start aspect-square w-[22px]" alt="" />
                        </div>
                        <div
                            class="flex flex-wrap gap-10 justify-center px-5 py-3 mt-4 max-w-full bg-white rounded-md border border-solid border-zinc-200 w-[536px]">
                            <label for="confirmPassword" class="sr-only">Nhập lại mật khẩu</label>
                            <input type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu"
                                aria-label="Nhập lại mật khẩu" class="flex-grow" />
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/1e33c02573101c0b16db6a3d20fbe1ab7233987d6a039ca20bc32d4404420a0e?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-start aspect-square w-[22px]" alt="" />
                        </div>
                        <button type="submit"
                            class="flex flex-wrap gap-3 justify-center items-center px-8 py-4 mt-9 font-semibold text-white capitalize bg-blue-700 rounded max-md:px-5">
                            <span class="self-stretch my-auto">Đổi mật khẩu</span>
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/73d846242d81440991c405465fb6285799f5fa2446c9ea3497360f89b46aa39c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="" />
                        </button>
                    </form>
                </div>
            </div>
            <div class="flex flex-col ml-5 w-[65%] max-md:ml-0 max-md:w-full">
                <div
                    class="flex relative flex-col grow items-center px-20 pb-28 min-h-[1080px] max-md:px-5 max-md:pb-24 max-md:mt-10 max-md:max-w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fdc6140aca6f53d83d2e44ef19dbfc9a96abb562e89524181f9221d63d49fa58?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-cover absolute inset-0 size-full" alt="Background image" />
                    <div class="flex relative flex-col max-w-full w-[753px]">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ebed4f49647314381b21eebe065b8c1b0a708c9c7cc20efaa3502fe35f9d3d8c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain z-10 w-full aspect-[1.1] max-md:max-w-full" alt="Decorative image" />
                        <div class="flex flex-col -mt-1.5 max-w-full w-[560px]">
                            <h2 class="text-4xl font-medium leading-10 text-white max-md:max-w-full">
                                Hơn 1,75,324 công việc đang chờ những ứng viên.
                            </h2>
                            <div class="flex flex-wrap gap-2.5 justify-between items-start mt-12 w-full max-md:mt-10">
                                <article class="flex flex-col justify-center w-[180px]">
                                    <div
                                        class="flex gap-2.5 items-center p-4 w-16 h-16 rounded-lg bg-white bg-opacity-10">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/012e14bc12a41d6075e7eca31dc795c2108dbc0038fe53556cf5dc7a2cd5825b?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain w-8 aspect-square" alt="" />
                                    </div>
                                    <div class="flex flex-col mt-6 max-w-full text-white w-[180px]">
                                        <p class="text-xl font-medium leading-relaxed">1,75,324</p>
                                        <p class="mt-1 text-sm leading-none opacity-70">Live Job</p>
                                    </div>
                                </article>
                                <article class="flex flex-col justify-center w-[180px]">
                                    <div
                                        class="flex gap-2.5 items-center p-4 w-16 h-16 rounded-lg bg-white bg-opacity-10">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/3b76472cf7c2b1d53f1844bdb22a96727837d2c612f4030bee34c8818ed88116?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain w-8 aspect-square" alt="" />
                                    </div>
                                    <div class="flex flex-col mt-6 max-w-full text-white whitespace-nowrap w-[180px]">
                                        <p class="text-xl font-medium leading-relaxed">97,354</p>
                                        <p class="mt-1 text-sm leading-none opacity-70">Companies</p>
                                    </div>
                                </article>
                                <article class="flex flex-col justify-center w-[180px]">
                                    <div
                                        class="flex gap-2.5 items-center p-4 w-16 h-16 rounded-lg bg-white bg-opacity-10">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/a84de52f899c2134a5f683dbeb8d06ab177bdbdbd2f9c487fdf2ee6fb4843252?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain w-8 aspect-square" alt="" />
                                    </div>
                                    <div class="flex flex-col mt-6 max-w-full text-white w-[180px]">
                                        <p class="text-xl font-medium leading-relaxed">7,532</p>
                                        <p class="mt-1 text-sm leading-none opacity-70">New Jobs</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>