<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lấy lại mật khẩu</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="overflow-hidden pl-20 bg-white max-md:pl-5">
        <div class="flex gap-5 max-md:flex-col">
            <div class="flex flex-col w-[36%] max-md:ml-0 max-md:w-full">
                <div class="flex flex-col mt-12 max-md:mt-10 max-md:max-w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f912245dfb70c2756ea6bae66287b8b5e8a66aee211ead734f40118d3d3c5a7?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain max-w-full aspect-[2.78] w-[111px]" alt="Company logo" />
                    <div class="flex flex-col mt-64 ml-4 w-full max-md:mt-10 max-md:max-w-full">
                        <div class="flex flex-col max-w-full w-[312px]">
                            <h1 class="text-3xl font-medium leading-none text-zinc-900">Quên mật khẩu</h1>
                            <nav class="flex flex-col self-start mt-6 text-base">
                                <a href="#" class="flex items-start self-start">
                                    <span class="text-gray-500">Quay lại</span>
                                    <span class="font-medium text-blue-700">Đăng nhập</span>
                                </a>
                                <a href="#" class="flex items-start mt-2">
                                    <span class="text-gray-500">Bạn chưa có tài khoản</span>
                                    <span class="font-medium text-blue-700">Tạo tài khoản</span>
                                </a>
                            </nav>
                        </div>
                        <form class="mt-8">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" id="email" name="email"
                                class="px-5 py-3 max-w-full text-base text-gray-500 bg-white rounded-md border border-solid border-zinc-200 w-[536px] max-md:pr-5"
                                placeholder="Email" required />
                            <button type="submit"
                                class="flex flex-wrap gap-3 justify-center items-center px-8 py-4 mt-8 max-w-full text-base font-semibold text-white capitalize bg-blue-700 rounded w-[536px] max-md:px-5">
                                <span class="self-stretch my-auto">Lấy lại mật khẩu</span>
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/73d846242d81440991c405465fb6285799f5fa2446c9ea3497360f89b46aa39c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="" />
                            </button>
                        </form>
                        <div
                            class="flex flex-col justify-center items-center mt-8 text-sm leading-none max-md:max-w-full">
                            <p class="text-center text-gray-500">hoặc</p>
                            <div class="flex flex-wrap gap-5 items-start mt-4 text-neutral-600 max-md:max-w-full">
                                <a href="#"
                                    class="flex gap-3 justify-center items-center px-6 py-3 bg-white rounded border border-solid border-zinc-200 min-w-[240px] w-[258px] max-md:px-5">
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/da2c67dfaaae22c699385217541c47faa452f94b0f59df85d32d65320afdeb83?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                        alt="Facebook logo" />
                                    <span class="self-stretch my-auto">Sign in with Facebook</span>
                                </a>
                                <a href="#"
                                    class="flex gap-3 justify-center items-center px-6 py-3 bg-white rounded border border-solid border-zinc-200 min-w-[240px] w-[258px] max-md:px-5">
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/9908c48058b50f50ac7a7de86c98392463f38adb459b46382ba46d990b933d3b?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                        alt="Google logo" />
                                    <span class="self-stretch my-auto">Sign in with Google</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col ml-5 w-[64%] max-md:ml-0 max-md:w-full">
                <div
                    class="flex relative flex-col grow items-center px-20 pb-28 min-h-[1080px] max-md:px-5 max-md:pb-24 max-md:mt-10 max-md:max-w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4ea42fa36200df8c00868bd755171973d10f8d6603c3884c8591db973168d0a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-cover absolute inset-0 size-full" alt="Background image" />
                    <div class="flex relative flex-col max-w-full w-[753px]">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ebed4f49647314381b21eebe065b8c1b0a708c9c7cc20efaa3502fe35f9d3d8c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain z-10 w-full aspect-[1.1] max-md:max-w-full" alt="Decorative image" />
                        <div class="flex flex-col -mt-1.5 max-w-full w-[560px]">
                            <h2 class="text-4xl font-medium leading-10 text-white max-md:max-w-full">Hơn 1,75,324 công
                                việc đang chờ những ứng viên.</h2>
                            <div class="flex flex-wrap gap-2.5 justify-between items-start mt-12 w-full max-md:mt-10">
                                <article class="flex flex-col justify-center w-[180px]">
                                    <div
                                        class="flex gap-2.5 items-center p-4 w-16 h-16 rounded-lg bg-white bg-opacity-10">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/52071889dc255f26684df3765ad04285903af6658b2167ee74adce216ad5dfaf?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain w-8 aspect-square" alt="Live Job icon" />
                                    </div>
                                    <div class="flex flex-col mt-6 max-w-full text-white w-[180px]">
                                        <p class="text-xl font-medium leading-relaxed">1,75,324</p>
                                        <p class="mt-1 text-sm leading-none opacity-70">Live Job</p>
                                    </div>
                                </article>
                                <article class="flex flex-col justify-center w-[180px]">
                                    <div
                                        class="flex gap-2.5 items-center p-4 w-16 h-16 rounded-lg bg-white bg-opacity-10">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f27e7cfc3e16301f04caa7f6de2791821182b73a06b42a9bd122c9153309d8a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain w-8 aspect-square" alt="Companies icon" />
                                    </div>
                                    <div class="flex flex-col mt-6 max-w-full text-white whitespace-nowrap w-[180px]">
                                        <p class="text-xl font-medium leading-relaxed">97,354</p>
                                        <p class="mt-1 text-sm leading-none opacity-70">Companies</p>
                                    </div>
                                </article>
                                <article class="flex flex-col justify-center w-[180px]">
                                    <div
                                        class="flex gap-2.5 items-center p-4 w-16 h-16 rounded-lg bg-white bg-opacity-10">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/f58fcf32f5a10b8285dd26355aca305b8f97b2861df706ee19448f972238245f?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain w-8 aspect-square" alt="New Jobs icon" />
                                    </div>
                                    <div class="flex flex-col mt-6 max-w-full text-white w-[180px]">
                                        <p class="text-xl font-medium leading-relaxed">7,532</p>
                                        <p class="mt-1 text-sm leading-none opacity-70">New Jobs</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>