<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết Blog IT</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="flex overflow-hidden flex-col bg-white">
        <div
            class="flex flex-col justify-center items-center px-16 py-3 w-full text-sm leading-none bg-gray-100 max-md:px-5 max-md:max-w-full">
            <nav class="flex flex-wrap gap-5 justify-between w-full max-w-[1320px] max-md:max-w-full">
                <ul class="flex gap-6 my-auto text-gray-500">
                    <li><a href="#" class="grow text-gray-500">Trang chủ</a></li>
                    <li><a href="#">Việc làm</a></li>
                    <li><a href="#">Doanh nghiệp</a></li>
                    <li><a href="#" class="font-medium text-blue-700">Blog IT</a></li>
                </ul>
                <div class="flex gap-2 font-medium text-zinc-900">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bbfe5413f7e6cccba515408f610812a22f0cf0eb7dcdbde1437c68782afc970?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 w-6 aspect-square" alt="Phone icon" />
                    <a href="tel:+84 33456789" class="my-auto basis-auto">+84 33456789</a>
                </div>
            </nav>
        </div>
        <div class="flex flex-col justify-center items-center px-16 py-5 w-full bg-white max-md:px-5 max-md:max-w-full">
            <div class="flex flex-wrap gap-5 justify-between w-full max-w-[1322px] max-md:max-w-full">
                <div class="flex flex-wrap gap-8 text-base text-gray-400">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/47e8dcde21ea38af29fab7a7393bbea713dddd79f49d17096d025290941d1c5a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 my-auto max-w-full aspect-[2.76] w-[116px]" alt="Company logo" />
                    <form
                        class="flex flex-wrap flex-auto gap-3 px-7 py-3.5 rounded-md border border-solid bg-zinc-300 bg-opacity-0 border-zinc-200 max-md:px-5">
                        <label for="search" class="sr-only">Tìm kiếm theo tên việc làm, doanh nghiệp</label>
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3f1205c4e3952ff56cc646c0c3e09e7d246151e6042269c524301150e8c594c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-6 aspect-square" alt="Search icon" />
                        <input type="search" id="search" class="flex-auto max-md:max-w-full"
                            placeholder="Tìm kiếm theo tên việc làm, doanh nghiệp" />
                    </form>
                </div>
                <div class="flex gap-6 self-start">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fae272aac90fd4c28645f3e4360bb3e36839429875fc7794c995def64aed8270?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 my-auto aspect-square w-[25px]" alt="Notification icon" />
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/f048df5fa8c3d8ee8f695136dfc007d1cb71f9f3bc460a6ede1c953810f4c543?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 w-12 aspect-square" alt="User profile" />
                </div>
            </div>
        </div>
    </header>

    <main class="flex flex-col items-start self-center mt-32 w-full max-w-[1320px] max-md:mt-10 max-md:max-w-full">
        <div class="self-stretch max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col">
                <article class="flex flex-col w-[67%] max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col mt-16 w-full max-md:mt-10 max-md:max-w-full">
                        <h1 class="text-4xl font-medium leading-10 text-zinc-900 max-md:max-w-full">
                            Các ngôn ngữ lập trình phổ biến hiện nay và ứng dụng của chúng
                        </h1>
                        <div class="flex gap-6 items-center self-start mt-6 text-base text-gray-600">
                            <div class="flex gap-2 items-center self-stretch my-auto">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/4bcb5212ac226fb79395823b70f7be417b797bd5380fa4cfed6416e8220394ec?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
                                    alt="Clock icon" />
                                <time datetime="2024-11-10T01:00:00">Tải lên 1 giờ trước</time>
                            </div>
                        </div>
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d602ba4fdac3aa500a2b38fdfcd877db63052770910a9d1d96bb5edaa0c892ab?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain mt-12 w-full rounded-xl aspect-[2.06] max-md:mt-10 max-md:max-w-full"
                            alt="Programming languages illustration" />
                        <h2 class="mt-12 text-2xl font-medium leading-8 text-gray-800 max-md:mt-10 max-md:max-w-full">
                            Hiện nay, có nhiều ngôn ngữ lập trình phổ biến, mỗi ngôn ngữ lại phù hợp với một số loại ứng
                            dụng nhất định.
                        </h2>
                        <p class="mt-6 text-base leading-6 text-neutral-600 max-md:max-w-full">
                            Python thích hợp cho trí tuệ nhân tạo, phân tích dữ liệu và phát triển web, trong khi
                            JavaScript là ngôn ngữ chính cho ứng dụng web tương tác. Java thường được dùng trong các hệ
                            thống doanh nghiệp và phát triển ứng dụng Android, còn C++ mạnh về phần mềm hệ thống và
                            game. C# chủ yếu trong hệ sinh thái Microsoft và phát triển game với Unity. Swift phù hợp
                            cho iOS/macOS, PHP cho backend web, Go cho hệ thống phân tán, và Rust an toàn cho các ứng
                            dụng yêu cầu bảo mật cao. R và SQL là nền tảng của phân tích dữ liệu và quản lý cơ sở dữ
                            liệu.
                        </p>
                        <p class="mt-6 text-base leading-6 text-neutral-600 max-md:max-w-full">
                            Mỗi ngôn ngữ đều có điểm mạnh riêng, phục vụ cho các nhu cầu khác nhau trong phát triển phần
                            mềm và công nghệ thông tin.
                        </p>
                        <blockquote
                            class="flex flex-wrap gap-6 items-start p-10 mt-12 text-xl leading-8 rounded-xl bg-sky-100 bg-opacity-50 text-zinc-900 max-md:px-5 max-md:mt-10">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/169c490213e7507f8093f8a03326b8a1f6dc5d8950cf455589a716e307ba053c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-10 aspect-square" alt="Quote icon" />
                            <p class="w-[728px] max-md:max-w-full">
                                Việc viết mã không chỉ là làm cho máy tính hiểu, mà còn là làm cho con người đọc, hiểu
                                và duy trì. Mã tốt là mã rõ ràng và dễ hiểu, ngay cả với những người không tham gia viết
                                nó.
                            </p>
                        </blockquote>
                    </div>
                </article>
                <aside class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col max-md:mt-6 max-md:max-w-full">
                        <section
                            class="flex flex-col p-6 w-full bg-white rounded-xl border border-solid border-zinc-200 max-w-[424px] max-md:px-5 max-md:max-w-full">
                            <h2 class="self-start text-xl font-medium leading-relaxed text-gray-800">
                                Đọc nhiều nhất tuần qua
                            </h2>
                            <article class="flex gap-4 items-start mt-5">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/6a9d88c50088e5a84bc95a14ebb9d37ae9548ea1e805faec9b241ba99a827112?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-28 rounded-md aspect-[1.4]"
                                    alt="AI and Machine Learning article thumbnail" />
                                <div class="flex flex-col min-w-[240px] w-[248px]">
                                    <time datetime="2024-11-10T06:00:00"
                                        class="gap-2 self-start text-sm leading-none text-gray-500">
                                        Đăng tải: 06h00, 10/11/2024
                                    </time>
                                    <h3 class="mt-2.5 text-base leading-6 text-zinc-900">
                                        AI và Machine Learning đang thay đổi ngành IT như thế nào?
                                    </h3>
                                </div>
                            </article>
                            <hr class="mt-5 w-full border border-solid bg-zinc-200 border-zinc-200 min-h-[1px]" />
                            <article class="flex gap-4 items-start mt-5">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/592f6ac93ee3d4af8c10d6166ab489f7605784df2468c4271f7ecbe113519b9d?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-28 rounded-md aspect-[1.4]"
                                    alt="Top 10 IT trends article thumbnail" />
                                <div class="flex flex-col min-w-[240px] w-[248px]">
                                    <time datetime="2024-11-10T10:00:00"
                                        class="gap-2 self-start text-sm leading-none text-gray-500">
                                        Đăng tải: 10h00, 10/11/2024
                                    </time>
                                    <h3 class="mt-2.5 text-base leading-6 text-zinc-900">
                                        Top 10 xu hướng công nghệ IT năm 2024.
                                    </h3>
                                </div>
                            </article>
                            <hr class="mt-5 w-full border border-solid bg-zinc-200 border-zinc-200 min-h-[1px]" />
                            <article class="flex gap-4 items-start mt-5">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/815f706b6c73bd1a256f45f5bd9651b983e82582075abf0e43ddb7168982bcf1?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-28 rounded-lg aspect-[1.4]"
                                    alt="IT skills article thumbnail" />
                                <div class="flex flex-col min-w-[240px] w-[248px]">
                                    <time datetime="2024-11-10T11:00:00"
                                        class="gap-2 self-start text-sm leading-none text-gray-500">
                                        Đăng tải: 11h00, 10/11/2024
                                    </time>
                                    <h3 class="mt-2.5 text-base leading-6 text-zinc-900">
                                        Các kỹ năng IT cần thiết trong thời đại công nghệ 4.0.
                                    </h3>
                                </div>
                            </article>
                        </section>
                        <section
                            class="flex flex-col p-6 mt-6 w-full bg-white rounded-xl border border-solid border-zinc-200 max-w-[424px] max-md:px-5 max-md:max-w-full">
                            <h2 class="self-start text-xl font-medium leading-relaxed text-gray-800">
                                Bài viết chọn lọc
                            </h2>
                            <article class="flex gap-4 items-start mt-5">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/27ef818639371aee91fd62ab167034d89e67ff1a0de8fe79ea26d60f2e96c344?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-28 rounded-md aspect-[1.4]"
                                    alt="Popular programming languages article thumbnail" />
                                <div class="flex flex-col min-w-[240px] w-[248px]">
                                    <time datetime="2024-09-06T11:00:00"
                                        class="gap-2 self-start text-sm leading-none text-gray-500">
                                        Đăng tải: 11h00, 06/09/2024
                                    </time>
                                    <h3 class="mt-2.5 text-base leading-6 text-zinc-900">
                                        Làm quen với các ngôn ngữ lập trình phổ biến nhất hiện nay.
                                    </h3>
                                </div>
                            </article>
                            <hr class="mt-5 w-full border border-solid bg-zinc-200 border-zinc-200 min-h-[1px]" />
                            <article class="flex gap-4 items-start mt-5">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/5b29188cf6aed846b1fc3ab2f813dd54a77b847e3a5cc2a2144aaec6a7bbc7d4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-28 rounded-md aspect-[1.4]"
                                    alt="Full Stack Developer article thumbnail" />
                                <div class="flex flex-col min-w-[240px] w-[248px]">
                                    <time datetime="2024-10-10T15:00:00"
                                        class="gap-2 self-start text-sm leading-none text-gray-500">
                                        Đăng tải: 15h00, 10/10/2024
                                    </time>
                                    <h3 class="mt-2.5 text-base leading-6 text-zinc-900">
                                        Giới thiệu về lập trình viên Full Stack: Họ là ai và làm gì?
                                    </h3>
                                </div>
                            </article>
                            <hr class="mt-5 w-full border border-solid bg-zinc-200 border-zinc-200 min-h-[1px]" />
                            <article class="flex gap-4 items-start mt-5">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/b958fd8f2650455f875f31bd1be39a9fcba2836dc5fb83f17bf3f089d2faa030?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-28 rounded-lg aspect-[1.4]"
                                    alt="Code performance tips article thumbnail" />
                                <div class="flex flex-col min-w-[240px] w-[248px]">
                                    <time datetime="2024-10-12T12:30:00"
                                        class="gap-2 self-start text-sm leading-none text-gray-500">
                                        Đăng tải: 12h30, 12/10/2024
                                    </time>
                                    <h3 class="mt-2.5 text-base leading-6 text-zinc-900">
                                        Các mẹo cải thiện hiệu suất mã nguồn cho người lập trình.
                                    </h3>
                                </div>
                            </article>
                        </section>
                    </div>
                </aside>
            </div>
        </div>
        <h2 class="mt-12 text-2xl font-medium leading-none text-gray-800 max-md:mt-10 max-md:max-w-full">
            Tổng quan về các ứng dụng chính của các ngôn ngữ lập trình
        </h2>
        <p class="mt-6 text-base leading-6 text-neutral-600 w-[872px] max-md:max-w-full">
            Python nổi bật trong AI, phân tích dữ liệu và web; JavaScript là ngôn ngữ chính cho web front-end và
            backend; Java phù hợp với các ứng dụng doanh nghiệp và Android; C++ được dùng trong game, hệ thống nhúng và
            ứng dụng hiệu suất cao; C# phổ biến trong ứng dụng Windows và game với Unity. Swift chuyên cho iOS/macOS;
            PHP dùng cho backend web; Go mạnh về hệ thống backend và dịch vụ đám mây; Rust an toàn và hiệu suất cao cho
            phần mềm nhúng; R và SQL chủ yếu phục vụ phân tích dữ liệu và quản lý cơ sở dữ liệu.
        </p>
        <p class="mt-6 text-base leading-6 text-neutral-600 w-[872px] max-md:max-w-full">
            Những ngôn ngữ trên đều có vai trò quan trọng và phù hợp cho nhiều nhu cầu khác nhau trong phát triển phần
            mềm và công nghệ thông tin.
        </p>
        <div class="mt-12 max-w-full w-[872px] max-md:mt-10">
            <div class="flex gap-5 max-md:flex-col">
                <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/719bdf0196852e2f292857e3524ad62b825416dc0c108c413807af896a3f6a01?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain grow w-full aspect-[1.81] max-md:mt-6 max-md:max-w-full"
                        alt="Programming language comparison chart 1" />
                </div>
                <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/00335c8409c8421a6b9c8707e84b534dcc72f644b7d47306dd3cffd76c270e41?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain grow w-full aspect-[1.81] max-md:mt-6 max-md:max-w-full"
                        alt="Programming language comparison chart 2" />
                </div>
            </div>
        </div>
        <div class="mt-6 max-w-full w-[872px]">
            <div class="flex gap-5 max-md:flex-col">
                <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/d49e3821fc394dfd4a73e8e8868953cb9823030722523d2147d1523a0c957aa3?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain grow w-full aspect-[1.81] max-md:mt-6 max-md:max-w-full"
                        alt="Programming language comparison chart 3" />
                </div>
                <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/1a2174c043a82fb1e3e005021e2bee38339f87176018c29383f3924d2c80af8f?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain grow w-full aspect-[1.81] max-md:mt-6 max-md:max-w-full"
                        alt="Programming language comparison chart 4" />
                </div>
            </div>
        </div>
        <div class="flex flex-wrap gap-5 items-center mt-12 max-md:mt-10 max-md:max-w-full">
            <p class="self-stretch my-auto text-base text-gray-800">Chia sẻ bài đăng:</p>
            <div
                class="flex gap-2 items-start self-stretch my-auto text-sm leading-none whitespace-nowrap min-w-[240px]">
                <a href="#"
                    class="flex gap-3 justify-center items-center px-4 py-3 text-blue-600 rounded border border-gray-100 border-solid">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/af8f4f5c01449168ce61ee60540d5d734e7170638f8560957052946055ace90d?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto aspect-square w-[18px]"
                        alt="Facebook icon" />
                    <span class="self-stretch my-auto">Facebook</span>
                </a>
                <a href="#"
                    class="flex gap-3 justify-center items-center px-4 py-3 text-sky-500 rounded border border-gray-100 border-solid">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ef2d1cf54a9e4f2c86b723ca430e64845d5aca1cab3ac52d9547088323de483d?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto aspect-square w-[18px]"
                        alt="Twitter icon" />
                    <span class="self-stretch my-auto">Twitter</span>
                </a>
                <a href="#"
                    class="flex gap-3 justify-center items-center px-4 py-3 text-red-600 rounded border border-gray-100 border-solid">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/55e803aeadbc4e2ec94db723cea5d574bf26843108df4215d12b01166ee2c59f?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto aspect-square w-[18px]"
                        alt="Pinterest icon" />
                    <span class="self-stretch my-auto">Pinterest</span>
                </a>
            </div>
        </div>
    </main>

    <footer
        class="flex flex-col justify-center items-center px-16 py-24 mt-24 w-full bg-sky-950 max-md:px-5 max-md:mt-10 max-md:max-w-full">
        <div class="w-full max-w-[1322px] max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col">
                <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col max-md:mt-10">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e8088abbc346b3a00c7eadecda8bbef17030f71182fe127248a0eaa96d041c0?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain max-w-full aspect-[2.85] w-[114px]" alt="Company logo" />
                        <div class="flex flex-col mt-6 w-full">
                            <div class="flex items-start self-start text-lg leading-loose">
                                <span class="text-gray-400">Liên hệ</span>
                                <a href="tel:+84 33456789" class="font-medium text-white">+84 33456789</a>
                            </div>
                            <address class="mt-3 text-sm leading-5 text-slate-500 not-italic">
                                6391 Elgin St. Celina, Delaware 10299, New York, United States of America
                            </address>
                        </div>
                    </div>
                </div>
                <nav class="flex flex-col ml-5 w-9/12 max-md:ml-0 max-md:w-full">
                    <div class="grow max-md:mt-10 max-md:max-w-full">
                        <div class="flex gap-5 max-md:flex-col">
                            <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
                                <div class="flex flex-col grow max-md:mt-10">
                                    <h3 class="text-xl font-medium leading-relaxed text-white">Về Itseek</h3>
                                    <ul
                                        class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-stretch py-1.5"><a href="#">Trở lại</a></li>
                                        <li
                                            class="flex gap-1.5 items-center self-stretch py-1.5 mt-1 font-medium text-white">
                                            <img loading="lazy"
                                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/7300c226a67d6150c1222ddcf94e48ddc7c17b2d23cb6babd8d2f8ac95555488?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                                class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                                alt="Contact icon" />
                                            <a href="#">Liên hệ</a>
                                        </li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Đánh giá</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Tin tức</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                                <div class="flex flex-col grow max-md:mt-10">
                                    <h3 class="text-xl font-medium leading-relaxed text-white">Ứng viên</h3>
                                    <ul
                                        class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-stretch py-1.5"><a href="#">Công việc</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Nhà tuyển dụng</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Tổng quan ứng viên</a>
                                        </li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Việc làm đã lưu</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                                <div class="flex flex-col grow max-md:mt-10">
                                    <h3 class="text-xl font-medium leading-relaxed text-white">Nhà tuyển dụng</h3>
                                    <ul class="flex flex-col self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-start py-1.5"><a href="#">Đăng việc làm</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Duyệt công việc</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Bảng điều khiển</a></li>
                                        <li class="gap-1 self-start py-1.5 mt-1"><a href="#">Ứng dụng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                                <div class="flex flex-col max-md:mt-10">
                                    <h3 class="text-xl font-medium leading-relaxed text-white">Hỗ trợ</h3>
                                    <ul
                                        class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-stretch py-1.5"><a href="#">Câu hỏi thường gặp</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Chính sách bảo mật</a>
                                        </li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Điều khoản và điều
                                                kiện</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </footer>

    <div
        class="flex flex-wrap gap-10 justify-between items-center px-72 py-6 w-full border-t bg-sky-950 border-zinc-500 max-md:px-5 max-md:max-w-full">
        <p class="self-stretch my-auto text-sm leading-none text-gray-500">
            © 2024 Itseek - Thực hiện bởi Nguyễn Hồng Phong
        </p>
        <div class="flex gap-5 items-start self-stretch my-auto">
            <a href="#" aria-label="Facebook">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d82db8891ea87d774b36c66d426cda30421077f7065ad493251b1105d8eabf89?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain shrink-0 w-2.5 aspect-[0.5]" alt="Facebook icon" />
            </a>
            <a href="#" aria-label="Twitter">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/24e9dad9d165b8dee2088279efb60f74a254eec52ebb1ce376ac605ade33f5f0?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain shrink-0 w-5 aspect-square" alt="Twitter icon" />
            </a>
            <a href="#" aria-label="Instagram">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1ad6942de5bd7f3e7716ad8a369b870b897f5cf3df63398f9c2a9b5282a755a7?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain shrink-0 w-5 aspect-square" alt="Instagram icon" />
            </a>
            <a href="#" aria-label="LinkedIn">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/5ae5c55416a30b44dbc0867aed56c1eebf611cb55729b68a3a287b838596f123?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain shrink-0 w-5 aspect-square" alt="LinkedIn icon" />
            </a>
        </div>
    </div>
</body>

</html>