<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang quản lý bài đăng</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="flex overflow-hidden flex-col bg-white">
        <header
            class="flex flex-col justify-center items-center px-16 py-5 w-full text-base font-semibold text-blue-700 capitalize bg-gray-100 border-b border-gray-100 max-md:px-5 max-md:max-w-full">
            <div class="flex flex-wrap gap-5 justify-between w-full max-w-[1320px] max-md:max-w-full">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/47e8dcde21ea38af29fab7a7393bbea713dddd79f49d17096d025290941d1c5a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain shrink-0 my-auto max-w-full aspect-[2.76] w-[116px]" alt="Company logo" />
                <nav class="flex gap-6 items-center">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/621df31815bd9e39b24c2a61f8446cad0ac08546f379a94b8d279851ac9720cc?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
                        alt="Notification icon" />
                    <button
                        class="gap-3 self-stretch px-6 py-3 my-auto rounded border-2 border-blue-700 border-solid max-md:px-5">
                        Đăng việc làm
                    </button>
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/529f6005dd4a9b4927690c0c23cdaa52103253a8c42d60e7277999a7d0ca08b5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto w-12 aspect-square" alt="User profile" />
                </nav>
            </div>
        </header>
        <main
            class="flex flex-col items-end self-center pt-14 pb-32 w-full max-w-[1320px] max-md:pb-24 max-md:max-w-full">
            <div class="flex flex-col mt-14 max-w-full w-[984px] max-md:mt-10">
                <div class="flex flex-col max-md:max-w-full">
                    <h1 class="text-lg font-medium leading-loose text-zinc-900">Xin chào bạn</h1>
                    <p class="mt-2 text-sm leading-none text-gray-500 max-md:max-w-full">Đây là hoạt động và ứng dụng
                        hàng ngày của bạn</p>
                </div>
                <div class="flex flex-wrap gap-6 items-start self-start mt-6 max-md:max-w-full">
                    <div
                        class="flex overflow-hidden justify-center items-center py-5 pr-5 pl-6 bg-sky-100 rounded-lg min-w-[240px] max-md:pl-5">
                        <div class="flex flex-col self-stretch my-auto text-zinc-900 w-[204px]">
                            <p class="text-2xl font-semibold leading-none">589</p>
                            <p class="mt-1 text-sm leading-none opacity-80">Việc làm</p>
                        </div>
                        <div class="flex gap-2.5 items-center self-stretch p-4 my-auto w-16 h-16 bg-white rounded-md">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d89a9649c2501d54829f86ca992e234be23c34b2d90fa89670efd0a4b3edbf63?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain w-8 aspect-square" alt="Jobs icon" />
                        </div>
                    </div>
                    <div
                        class="flex overflow-hidden justify-center items-center py-5 pr-5 pl-6 bg-yellow-50 rounded-lg min-w-[240px] max-md:pl-5">
                        <div class="flex flex-col self-stretch my-auto text-zinc-900 w-[204px]">
                            <p class="text-2xl font-semibold leading-none">2,517</p>
                            <p class="mt-1 text-sm leading-none opacity-80">Ứng viên đã lưu</p>
                        </div>
                        <div class="flex gap-2.5 items-center self-stretch p-4 my-auto w-16 h-16 bg-white rounded-md">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d79d52c95aadd338861b367b9ccc80a47342a619fb29cb77451ac8420e1848b?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain w-8 aspect-square" alt="Saved candidates icon" />
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-wrap gap-10 justify-between items-center mt-9 w-full text-base font-medium max-md:max-w-full">
                    <h2 class="self-stretch my-auto text-zinc-900">Recently Posted Jobs</h2>
                    <a href="#" class="flex gap-2 justify-center items-center self-stretch my-auto text-gray-500">
                        <span>Xem tất cả</span>
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/e1055039ec65478dd2f1bb832611890a009c31813d5b3b96af4674d5c889b776?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
                            alt="View all arrow" />
                    </a>
                </div>
                <div class="flex gap-10 px-5 py-2.5 mt-5 w-full text-xs bg-gray-100 text-neutral-600 max-md:max-w-full">
                    <div>CÔNG VIỆC</div>
                    <div class="flex gap-9">
                        <div>TRẠNG THÁI</div>
                        <div>ỨNG VIÊN</div>
                    </div>
                    <div class="grow shrink w-[231px]">HÀNH ĐỘNG</div>
                </div>
            </div>
            <div
                class="flex overflow-hidden flex-wrap gap-5 justify-center items-center p-5 rounded-lg max-md:mr-0.5 max-md:max-w-full">
                <div class="flex flex-col self-stretch min-w-[240px] w-[368px]">
                    <h3 class="text-base font-medium text-zinc-900">UI/UX Designer</h3>
                    <div class="flex gap-2.5 items-start self-start mt-2 text-sm leading-none text-gray-500">
                        <span>Toàn thời gian</span>
                        <span aria-hidden="true">•</span>
                        <span>Còn 27 ngày</span>
                    </div>
                </div>
                <div
                    class="flex gap-1 items-start self-stretch my-auto text-sm font-medium leading-5 text-green-600 whitespace-nowrap w-[88px]">
                    <div class="flex shrink-0 w-5 h-5"></div>
                    <div>Hoạt động</div>
                </div>
                <div
                    class="flex gap-2 justify-center items-center self-stretch my-auto text-sm leading-none text-gray-500">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6b9f2832cda69b5e818c2c88573f21cef0eceab235ed826d59f57edfc9a0fb5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="Candidates icon" />
                    <div class="self-stretch my-auto w-[152px]">798 Ứng viên</div>
                </div>
                <div class="flex gap-2 items-start self-stretch my-auto min-w-[240px]">
                    <button
                        class="gap-3 self-stretch px-6 py-3 text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">
                        Xem CV ứng viên
                    </button>
                    <button class="flex gap-2.5 items-start p-3 w-12 rounded-md" aria-label="More options">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/bf9825b3d93e3333c7228502bb7451b00d4d800de80ae61e4ae2773e556e1836?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain w-6 aspect-square" alt="" />
                    </button>
                </div>
            </div>
            <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/99c9c65739f6618bcd32996a813b69dfc4c56d5aa70bcdef01607272dd5b8454?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                class="object-contain z-10 self-center -mt-14 ml-24 w-5 aspect-square" alt="" />
            <hr class="shrink-0 mt-9 max-w-full h-px border border-solid bg-zinc-200 border-zinc-200 w-[984px]" />
            <aside
                class="flex z-10 flex-col justify-between items-center self-start py-6 mt-0 w-72 max-w-full font-medium bg-white shadow-sm min-h-[944px] max-md:mt-0">
                <nav class="flex flex-col justify-center items-center w-full">
                    <h4 class="text-xs text-gray-400">TỔNG QUAN</h4>
                    <ul class="flex flex-col mt-3 w-full text-sm leading-none text-gray-500 max-w-[288px]">
                        <li class="flex gap-4 px-5 py-2.5 w-full text-blue-700 bg-sky-100">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/98443c10f1f73782eb6081beb546387f1c336eb75bef26d42496bab648d7e008?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-6 aspect-square" alt="" />
                            <span class="grow shrink my-auto w-[203px]">Quản lý bài đăng</span>
                        </li>
                        <li class="flex gap-4 px-5 py-2.5 w-full">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8976ee4402d48fd7b86d7568d241ef6a3377a31b7b63b899d3a1d7634fa57285?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-6 aspect-square" alt="" />
                            <span class="grow shrink my-auto w-[203px]">Chỉnh sửa thông tin</span>
                        </li>
                        <li class="flex gap-4 px-5 py-2.5 w-full">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/47cc2ae0519f2e3ca2d329e21139bfd586447efb1aa67a33e07ca408a116df17?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-6 aspect-square" alt="" />
                            <span class="grow shrink my-auto w-[203px]">Đổi mật khẩu</span>
                        </li>
                    </ul>
                </nav>
                <button
                    class="flex gap-4 px-5 py-2.5 w-full text-sm leading-none text-gray-500 mt-[690px] max-md:mt-10">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6e768004c760b6a7e1e4b00355eb5d86971541a8bc0bd38f8aa4b916a31a8ff?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 w-6 aspect-square" alt="" />
                    <span class="grow shrink my-auto w-[203px]">Đăng xuất</span>
                </button>
            </aside>
            <div
                class="flex overflow-hidden flex-wrap gap-5 justify-center items-center p-5 mt-0 rounded-lg max-md:mt-0 max-md:mr-0.5 max-md:max-w-full">
                <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[368px]">
                    <h3 class="text-base font-medium text-zinc-900">Senior UX Designer</h3>
                    <div class="flex gap-2.5 items-start self-start mt-2 text-sm leading-none text-gray-500">
                        <span>Thực tập</span>
                        <span aria-hidden="true">•</span>
                        <span>Còn 8 ngày</span>
                    </div>
                </div>
                <div
                    class="flex gap-1 items-start self-stretch my-auto text-sm font-medium leading-5 text-green-600 w-[88px]">
                    <div class="flex shrink-0 w-5 h-5"></div>
                    <div class="flex-1 shrink basis-0">Hoạt động</div>
                </div>
                <div
                    class="flex gap-2 justify-center items-center self-stretch my-auto text-sm leading-none text-gray-500">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6b9f2832cda69b5e818c2c88573f21cef0eceab235ed826d59f57edfc9a0fb5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="Candidates icon" />
                    <div class="self-stretch my-auto w-[152px]">185 Ứng viên</div>
                </div>
                <div class="flex gap-2 items-start self-stretch my-auto min-w-[240px]">
                    <button
                        class="gap-3 self-stretch px-6 py-3 text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">
                        Xem CV ứng viên
                    </button>
                    <button class="flex gap-2.5 items-start p-3 w-12 rounded-md" aria-label="More options">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/bf9825b3d93e3333c7228502bb7451b00d4d800de80ae61e4ae2773e556e1836?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain w-6 aspect-square" alt="" />
                    </button>
                </div>
            </div>
            <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/99c9c65739f6618bcd32996a813b69dfc4c56d5aa70bcdef01607272dd5b8454?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                class="object-contain z-10 self-center -mt-14 ml-24 w-5 aspect-square" alt="" />
            <hr class="shrink-0 mt-9 max-w-full h-px border border-solid bg-zinc-200 border-zinc-200 w-[984px]" />
            <div
                class="flex flex-wrap gap-5 justify-center items-center p-5 bg-white rounded-lg border border-blue-700 border-solid shadow-2xl max-md:max-w-full">
                <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[368px]">
                    <h3 class="text-base font-medium text-zinc-900">Techical Support Specialist</h3>
                    <div class="flex gap-2.5 items-start self-start mt-2 text-sm leading-none text-gray-500">
                        <span>Bán thời gian</span>
                        <span aria-hidden="true">•</span>
                        <span>Còn 8 ngày</span>
                    </div>
                </div>
                <div
                    class="flex gap-1 items-start self-stretch my-auto text-sm font-medium leading-5 text-green-600 w-[88px]">
                    <div class="flex shrink-0 w-5 h-5"></div>
                    <div class="flex-1 shrink basis-0">Hoạt động</div>
                </div>
                <div
                    class="flex gap-2 justify-center items-center self-stretch my-auto text-sm leading-none text-gray-500">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6b9f2832cda69b5e818c2c88573f21cef0eceab235ed826d59f57edfc9a0fb5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="Candidates icon" />
                    <div class="self-stretch my-auto w-[152px]">556 Ứng viên</div>
                </div>
                <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[244px]">
                    <div class="flex gap-2.5 w-full">
                        <div class="flex gap-2.5 w-full">
                            <button
                                class="gap-3 self-stretch px-6 py-3 text-base font-semibold text-white capitalize bg-blue-700 rounded max-md:px-5">
                                Xem CV ứng viên
                            </button>
                            <button class="flex gap-2.5 items-center p-3 w-12 h-12 bg-gray-100 rounded-md"
                                aria-label="More options">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/7aa9639bf7dc203a46a7bc4ec173de52c1312bba430f0a3f56b9aa6b904ba4eb?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </button>
                        </div>
                        <div
                            class="flex overflow-hidden z-10 flex-col self-end py-3 mt-3 max-w-full text-sm leading-none bg-white rounded-md border border-gray-200 border-solid shadow-2xl w-[216px]">
                            <button class="flex gap-2 px-4 py-2.5 w-full font-medium text-blue-700 bg-sky-100">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/03a6df698dec3e0cf9fd32a7670edd7771f906a50901d972c5ddf0d4ce948c38?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-5 aspect-square" alt="" />
                                <span class="grow shrink w-[152px]">Xem thông tin bài đăng</span>
                            </button>
                            <button class="flex gap-2 px-4 py-2.5 w-full text-gray-500">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc1f84d0b049ef6519f3c07e98914da1412077e835e158e8059e50e44e2dfb93?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain shrink-0 w-5 aspect-square" alt="" />
                                <span class="grow shrink w-[152px]">Đánh dấu hết hạn</span>
                            </button>
                        </div>
                    </div>
                </div>
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/99c9c65739f6618bcd32996a813b69dfc4c56d5aa70bcdef01607272dd5b8454?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain z-10 self-center -mt-14 ml-24 w-5 aspect-square" alt="" />
                <hr class="shrink-0 mt-9 max-w-full h-px border border-solid bg-zinc-200 border-zinc-200 w-[984px]" />
                <div
                    class="flex overflow-hidden flex-wrap gap-5 justify-center items-center p-5 rounded-lg max-md:max-w-full">
                    <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[368px]">
                        <h3 class="text-base font-medium text-zinc-900">Junior Graphic Designer</h3>
                        <div class="flex gap-2.5 items-start self-start mt-2 text-sm leading-none text-gray-500">
                            <span>Toàn thời gian</span>
                            <span aria-hidden="true">•</span>
                            <span>Còn 24 ngày</span>
                        </div>
                    </div>
                    <div
                        class="flex gap-1 items-start self-stretch my-auto text-sm font-medium leading-5 text-green-600 w-[88px]">
                        <div class="flex shrink-0 w-5 h-5"></div>
                        <div class="flex-1 shrink basis-0">Hoạt động</div>
                    </div>
                    <div
                        class="flex gap-2 justify-center items-center self-stretch my-auto text-sm leading-none text-gray-500">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6b9f2832cda69b5e818c2c88573f21cef0eceab235ed826d59f57edfc9a0fb5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
                            alt="Candidates icon" />
                        <div class="self-stretch my-auto w-[152px]">583 Ứng viên</div>
                    </div>
                    <div
                        class="flex gap-2 items-start self-stretch my-auto text-base font-semibold text-blue-700 capitalize min-w-[240px]">
                        <button class="gap-3 self-stretch px-6 py-3 bg-gray-100 rounded max-md:px-5">
                            View Applications
                        </button>
                        <div class="flex gap-2.5 py-3 rounded-md min-h-[48px]"></div>
                    </div>
                </div>
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/99c9c65739f6618bcd32996a813b69dfc4c56d5aa70bcdef01607272dd5b8454?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain z-10 self-center -mt-14 ml-24 w-5 aspect-square" alt="" />
                <hr class="shrink-0 mt-9 max-w-full h-px border border-solid bg-zinc-200 border-zinc-200 w-[984px]" />
                <div
                    class="flex overflow-hidden flex-wrap gap-5 justify-center items-center p-5 mb-0 rounded-lg max-md:mr-0.5 max-md:mb-2.5 max-md:max-w-full">
                    <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[368px]">
                        <h3 class="text-base font-medium text-zinc-900">Front End Developer</h3>
                        <div class="flex gap-2.5 items-start self-start mt-2 text-sm leading-none text-gray-500">
                            <span>Toàn thời gian</span>
                            <span aria-hidden="true">•</span>
                            <span>Hết hạn 13.11.2024</span>
                        </div>
                    </div>
                    <div
                        class="flex gap-1 items-start self-stretch my-auto text-sm font-medium leading-none text-red-500 w-[88px]">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/8e6d6a61535e4afab5b33dd089665ac162a50f0d68efae69406f8f2d5e3434fe?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-5 aspect-square" alt="Expired icon" />
                        <div class="flex-1 shrink basis-0">Hết hạn</div>
                    </div>
                    <div
                        class="flex gap-2 justify-center items-center self-stretch my-auto text-sm leading-none text-gray-500">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6b9f2832cda69b5e818c2c88573f21cef0eceab235ed826d59f57edfc9a0fb5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
                            alt="Candidates icon" />
                        <div class="self-stretch my-auto w-[152px]">740 Ứng viên</div>
                    </div>
                    <div class="flex gap-2 items-start self-stretch my-auto min-w-[240px]">
                        <button
                            class="gap-3 self-stretch px-6 py-3 text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">
                            Xem CV ứng viên
                        </button>
                        <button class="flex gap-2.5 items-start p-3 w-12 rounded-md" aria-label="More options">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/bf9825b3d93e3333c7228502bb7451b00d4d800de80ae61e4ae2773e556e1836?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain w-6 aspect-square" alt="" />
                        </button>
                    </div>
                </div>
        </main>
        <footer
            class="self-stretch px-72 py-6 text-sm leading-none text-center text-gray-500 bg-white shadow-sm w-[1320px] max-md:px-5 max-md:max-w-full">
            @ 2024 Itseek - Thực hiện bởi Nguyễn Hồng Phong
        </footer>
    </section>
</body>

</html>