<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang công việc đã ứng tuyển</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="flex overflow-hidden flex-col bg-white">
        <header class="flex flex-col w-full max-md:max-w-full">
            <div
                class="flex flex-col justify-center items-center px-16 py-3 w-full text-sm leading-none bg-gray-100 max-md:px-5 max-md:max-w-full">
                <nav class="flex flex-wrap gap-5 justify-between w-full max-w-[1320px] max-md:max-w-full">
                    <ul class="flex gap-6 my-auto text-gray-500">
                        <li><a href="#" class="grow text-gray-500">Trang chủ</a></li>
                        <li><a href="#">Việc làm</a></li>
                        <li><a href="#">Doanh nghiệp</a></li>
                        <li><a href="#">Blog IT</a></li>
                    </ul>
                    <div class="flex gap-2 font-medium text-zinc-900">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bbfe5413f7e6cccba515408f610812a22f0cf0eb7dcdbde1437c68782afc970?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-6 aspect-square" alt="" />
                        <a href="tel:+84 33456789" class="my-auto basis-auto">+84 33456789</a>
                    </div>
                </nav>
            </div>
            <div
                class="flex flex-col justify-center items-center px-16 py-5 w-full bg-white border-b border-zinc-200 max-md:px-5 max-md:max-w-full">
                <div class="flex flex-wrap gap-5 justify-between w-full max-w-[1322px] max-md:max-w-full">
                    <div class="flex flex-wrap gap-8 text-base text-gray-400">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/47e8dcde21ea38af29fab7a7393bbea713dddd79f49d17096d025290941d1c5a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 my-auto max-w-full aspect-[2.76] w-[116px]"
                            alt="Company Logo" />
                        <form
                            class="flex flex-wrap flex-auto gap-3 px-7 py-3.5 rounded-md border border-solid bg-zinc-300 bg-opacity-0 border-zinc-200 max-md:px-5">
                            <label for="search-input" class="sr-only">Tìm kiếm theo tên việc làm, doanh nghiệp</label>
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3f1205c4e3952ff56cc646c0c3e09e7d246151e6042269c524301150e8c594c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-6 aspect-square" alt="" />
                            <input type="search" id="search-input" class="flex-auto max-md:max-w-full"
                                placeholder="Tìm kiếm theo tên việc làm, doanh nghiệp" />
                        </form>
                    </div>
                    <div class="flex gap-6 self-start">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/fae272aac90fd4c28645f3e4360bb3e36839429875fc7794c995def64aed8270?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 my-auto aspect-square w-[25px]" alt="Notification Icon" />
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/f048df5fa8c3d8ee8f695136dfc007d1cb71f9f3bc460a6ede1c953810f4c543?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-12 aspect-square" alt="User Profile" />
                    </div>
                </div>
            </div>
        </header>
        <main class="flex flex-col items-start self-center pt-48 w-full max-w-[1322px] max-md:pt-24 max-md:max-w-full">
            <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/2e18b9bd63c167db251d018a105bcc75f8c9756099c3b3611c7be55b77993218?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                class="object-contain z-10 mt-48 ml-5 w-6 aspect-square max-md:mt-10 max-md:ml-2.5" alt="" />
            <h1 class="z-10 mt-0 ml-16 text-sm font-medium leading-none text-gray-500 max-md:ml-2.5">Chỉnh sửa thông tin
            </h1>
            <div
                class="flex flex-col justify-between items-center py-6 mt-0 w-72 max-w-full font-medium bg-white shadow-sm min-h-[944px] max-md:mt-0">
                <nav class="flex flex-col justify-center items-center w-full">
                    <h2 class="text-xs text-gray-400">TỔNG QUAN</h2>
                    <ul class="flex flex-col mt-3 w-full text-sm leading-none text-gray-500 max-w-[288px]">
                        <li class="flex gap-4 px-5 py-2.5 w-full text-blue-700 bg-sky-100">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/b25430e7ade6bd82b2223d402a25d5dedddf5928c583c2f5c5d444a4a76acaab?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-6 aspect-square" alt="" />
                            <span class="grow shrink my-auto w-[203px]">Công việc đã ứng tuyển</span>
                        </li>
                        <li class="flex gap-4 px-5 py-2.5 w-full">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/961dfdfb080a49ee868f8dffcdf628b1fe5e03d316fd936ed9dadd7edf394b32?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-6 aspect-square" alt="" />
                            <span class="grow shrink my-auto w-[203px]">Công việc đã lưu</span>
                        </li>
                        <li class="flex gap-4 px-5 py-2.5 w-full">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/47cc2ae0519f2e3ca2d329e21139bfd586447efb1aa67a33e07ca408a116df17?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 w-6 aspect-square" alt="" />
                            <span class="grow shrink my-auto w-[203px]">Đổi mật khẩu</span>
                        </li>
                    </ul>
                </nav>
                <div class="flex gap-4 px-5 py-2.5 w-full text-sm leading-none text-gray-500 mt-[690px] max-md:mt-10">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/cd577fb64c604b928c7adc0acdc59102d01f99f3fb7e9bb3913b3cc055915737?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 w-6 aspect-square" alt="" />
                    <span class="grow shrink my-auto w-[203px]">Đăng xuất</span>
                </div>
            </div>
            <section class="flex z-10 flex-col self-end mt-0 max-w-full w-[986px] max-md:mt-0">
                <h2 class="self-start text-lg font-medium leading-loose text-gray-400">
                    Công Việc Đã Ứng Tuyển <span class="text-gray-400">(68)</span>
                </h2>
                <div
                    class="flex flex-wrap gap-5 justify-between py-2.5 pr-20 pl-5 mt-5 w-full text-xs bg-gray-100 rounded text-neutral-600 max-md:pr-5 max-md:mr-0.5">
                    <div>Công việc</div>
                    <div class="flex gap-10">
                        <div class="basis-auto">NGÀY ỨNG TUYỂN</div>
                        <div>TRẠNG THÁI</div>
                        <div>HÀNH ĐỘNG</div>
                    </div>
                </div>
                <ul class="job-list">
                    <li class="flex flex-wrap gap-5 items-center p-5 mt-2 rounded-lg max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-20 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-lime-500 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1824a3e6d1b6a8532426cc0d1564d11ede551cc16c030a7c68ce2f4609b35bae?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col grow shrink-0 basis-0 w-fit">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">Networking
                                        Engineer</h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Linh
                                        hoạt</span>
                                </div>
                                <div
                                    class="flex gap-4 items-center self-start mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c651e84e49897adf11683be43b0b3bbad718f909472193fb50cc4eac45a3e666?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Hà Nội</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6d743618187f2f0e8a9599d007c33252ab9af3ee14ab46ca54c4136fb5ea4e7?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$10 - 15tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">19:28, 14/6/2023
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                    <li class="z-10 shrink-0 w-full h-px border border-solid bg-zinc-200 border-zinc-200 max-md:mr-0.5">
                    </li>
                    <li class="flex flex-wrap gap-5 items-center p-5 rounded-lg max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-20 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-pink-500 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/bb3b39a12b04f2ff7204f476bd5da7e878a5ff8de404e06b0cc887d61dd1b911?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col grow shrink-0 basis-0 w-fit">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">Product
                                        Designer</h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Toàn
                                        thời gian</span>
                                </div>
                                <div
                                    class="flex gap-4 items-center self-start mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c651e84e49897adf11683be43b0b3bbad718f909472193fb50cc4eac45a3e666?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Hà Nội</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/81fe0b764433145a9002cf8142da9752d5332644343f775f78ffe0c5bf34579c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$12 - 15tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">23:26, 19/9/2023
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                    <li class="z-10 shrink-0 w-full h-px border border-solid bg-zinc-200 border-zinc-200 max-md:mr-0.5">
                    </li>
                    <li class="flex flex-wrap gap-5 items-center p-5 rounded-lg max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-14 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-gray-800 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/2b990d5c965d56fed8c0d5914e2ffa408c8d0f7f0fde99b95e2cd5a59c97f127?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col grow shrink-0 basis-0 w-fit">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">Junior Graphic
                                        Designer</h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Làm
                                        việc từ xa</span>
                                </div>
                                <div
                                    class="flex gap-4 items-center self-start mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c651e84e49897adf11683be43b0b3bbad718f909472193fb50cc4eac45a3e666?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Hà Nội</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d01b4e53d8524743e62b5752a9a6870a0a44617c99e72c75172c94cfe5f98a85?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$15 - 20tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">19:28, 04/01/2024
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                    <li
                        class="flex flex-wrap gap-5 items-center p-5 rounded-lg border border-blue-700 border-solid shadow-2xl max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-20 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-gray-100 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/aff96e5f3af206b102b471bb1c3af97ea97a9012df34f26ab5691c2604fcf125?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">Visual Designer
                                    </h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Bán
                                        thời gian</span>
                                </div>
                                <div
                                    class="flex gap-4 items-center self-start mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/39123581433e3270ab25305d2d31736072aff753325eb5ed7fe0d572c23f4cbd?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Hà Nội</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/e6b4ff6545d01661525f9e383fa27c18548e544d1896bc305a6f569738c4d0c6?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$10 - 15tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">23:26, 20/02/2024
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-white capitalize bg-blue-700 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                    <li class="flex flex-wrap gap-5 items-center p-5 rounded-lg max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-20 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-sky-500 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/ff075fb52b160e81147d3d129733b8b4d5d636686f211c6e6bb32b4fee1768aa?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col grow shrink-0 basis-0 w-fit">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">Marketing
                                        Officer</h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Toàn
                                        thời gian</span>
                                </div>
                                <div
                                    class="flex gap-4 items-center self-start mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/39123581433e3270ab25305d2d31736072aff753325eb5ed7fe0d572c23f4cbd?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Tp. Hồ Chí Minh</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c627e4a90cd4c9aaf6d6141288feac4ef303efbfbe69e9c5501484a0eef092cd?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$13 - 15tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">21:42, 10/02/2024
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                    <li class="z-10 shrink-0 w-full h-px border border-solid bg-zinc-200 border-zinc-200 max-md:mr-0.5">
                    </li>
                    <li class="flex flex-wrap gap-5 items-center p-5 rounded-lg max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-20 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-blue-600 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d27cb21a1a91dc2b31d6b2ae5dc7c3a9fa75b2178d8e5cf9f3ea015558ddc432?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">UI/UX Designer
                                    </h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Bán
                                        thời gian</span>
                                </div>
                                <div class="flex gap-4 items-center mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/39123581433e3270ab25305d2d31736072aff753325eb5ed7fe0d572c23f4cbd?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Tp. Hồ Chí Minh</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/7b3a1a6ab9a1c5c39a8f9278713f008a56698f35fc724bf5c3731f76b1e0840e?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$15 - 20tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">07:52, 30/04/2024
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                    <li class="z-10 shrink-0 w-full h-px border border-solid bg-zinc-200 border-zinc-200 max-md:mr-0.5">
                    </li>
                    <li class="flex flex-wrap gap-5 items-center p-5 rounded-lg max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-20 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-gray-100 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/163404f6378e54f271a88b08f56c9b793e3f3efb812276dba918abd00ebf6806?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">Software
                                        Engineer</h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Linh
                                        hoạt</span>
                                </div>
                                <div class="flex gap-4 items-center mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/39123581433e3270ab25305d2d31736072aff753325eb5ed7fe0d572c23f4cbd?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Tp. Hồ Chí Minh</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/a4e1d788f6e94dba83bc96a48b6ff3aeb01c8f8c1a99a92bb094b3182283f135?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$10 - 15tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">05:18, 08/05/2024
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                    <li class="z-10 shrink-0 w-full h-px border border-solid bg-zinc-200 border-zinc-200 max-md:mr-0.5">
                    </li>
                    <li class="flex flex-wrap gap-5 items-center p-5 rounded-lg max-md:max-w-full">
                        <div class="flex gap-4 self-stretch pr-20 my-auto min-w-[240px] w-[443px] max-md:max-w-full">
                            <div class="flex gap-2.5 items-center p-4 w-14 h-14 bg-orange-600 rounded">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/849b3b8e976c57f685b52e817e46e158db28e8e99dc8b3606a48b8893f21d254?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain w-6 aspect-square" alt="" />
                            </div>
                            <div class="flex flex-col grow shrink-0 basis-0 w-fit">
                                <div class="flex gap-2 items-center">
                                    <h3 class="self-stretch my-auto text-base font-medium text-zinc-900">Front End
                                        Developer</h3>
                                    <span
                                        class="gap-2.5 self-stretch px-3 py-1 my-auto text-sm leading-none text-blue-700 bg-sky-100 rounded-[52px]">Làm
                                        việc từ xa</span>
                                </div>
                                <div
                                    class="flex gap-4 items-center self-start mt-2.5 text-sm leading-none text-gray-500">
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/39123581433e3270ab25305d2d31736072aff753325eb5ed7fe0d572c23f4cbd?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">Hà Nội</span>
                                    </div>
                                    <div class="flex gap-1.5 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40ca4c8c7b08b39d0846b18d025d8f14f881ff94cea57dd7b4d56c8582e2632?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                            alt="" />
                                        <span class="self-stretch my-auto">$15 - 20tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch my-auto text-sm leading-none text-gray-500 w-[148px]">23:14, 06/11/2024
                        </div>
                        <div
                            class="flex gap-1.5 items-center self-stretch my-auto text-sm font-medium leading-none text-green-600 w-[148px]">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8477fa9a916aa4eb2dbe24afc54f18d9d70298c5d2fd06f16903482d896ae1a4?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                            <span class="flex-1 shrink self-stretch my-auto basis-0">Thành công</span>
                        </div>
                        <button
                            class="gap-3 self-stretch px-6 py-3 my-auto text-base font-semibold text-blue-700 capitalize bg-gray-100 rounded max-md:px-5">Xem
                            Chi tiết</button>
                    </li>
                </ul>
                <nav class="flex gap-2 items-start self-center mt-12 max-md:mt-10" aria-label="Pagination">
                    <button class="flex gap-2.5 items-start p-3 w-12 rotate-[3.141592653589793rad] rounded-[84px]"
                        aria-label="Previous page">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/3986205b601e0f39f847dac46141617a96d5e6cac1d853468386f0d17fbf8473?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain w-6 aspect-square" alt="" />
                    </button>
                    <div
                        class="flex items-start text-sm font-medium leading-none text-center text-gray-500 whitespace-nowrap">
                        <a href="#" aria-current="page"
                            class="px-4 w-12 h-12 text-white bg-blue-700 rounded-[50px] flex items-center justify-center">01</a>
                        <a href="#" class="px-4 py-3.5 w-12 rounded-[50px] flex items-center justify-center">02</a>
                        <a href="#" class="px-4 py-3.5 w-12 rounded-[50px] flex items-center justify-center">03</a>
                        <a href="#"
                            class="px-4 w-12 h-12 bg-gray-100 rounded-[50px] text-zinc-900 flex items-center justify-center">04</a>
                        <a href="#" class="px-4 py-3.5 w-12 rounded-[50px] flex items-center justify-center">05</a>
                    </div>
                    <button class="flex gap-2.5 items-center p-3 w-12 h-12 bg-sky-100 rounded-[84px]"
                        aria-label="Next page">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c11100e382323cc142561bf8e479c08a687484bb7061825f5216d435ea5d5939?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain w-6 aspect-square" alt="" />
                    </button>
                </nav>
            </section>
        </main>
        <footer class="flex flex-col mt-24 w-full max-md:mt-10 max-md:max-w-full">
            <div
                class="flex flex-col justify-center items-center px-16 py-24 w-full bg-sky-950 max-md:px-5 max-md:max-w-full">
                <div class="w-full max-w-[1322px] max-md:max-w-full">
                    <div class="flex gap-5 max-md:flex-col">
                        <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
                            <div class="flex flex-col max-md:mt-10">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e8088abbc346b3a00c7eadecda8bbef17030f71182fe127248a0eaa96d041c0?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    class="object-contain max-w-full aspect-[2.85] w-[114px]" alt="Company Logo" />
                                <div class="flex flex-col mt-6 w-full">
                                    <div class="flex items-start self-start text-lg leading-loose">
                                        <div class="text-gray-400">Liên hệ</div>
                                        <a href="tel:+84 33456789" class="font-medium text-white">+84 33456789</a>
                                    </div>
                                    <address class="mt-3 text-sm leading-5 text-slate-500 not-italic">
                                        6391 Elgin St. Celina, Delaware 10299, New York, United States of America
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col ml-5 w-9/12 max-md:ml-0 max-md:w-full">
                            <div class="grow max-md:mt-10 max-md:max-w-full">
                                <div class="flex gap-5 max-md:flex-col">
                                    <nav class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
                                        <div class="flex flex-col grow max-md:mt-10">
                                            <h2 class="text-xl font-medium leading-relaxed text-white">Về Itseek</h2>
                                            <ul
                                                class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                                <li class="gap-1 self-stretch py-1.5"><a href="#">Trở lại</a></li>
                                                <li
                                                    class="flex gap-1.5 items-center self-stretch py-1.5 mt-1 font-medium text-white">
                                                    <img loading="lazy"
                                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a1e6f40426b346fd136ffd931f8aea51f69f74a096cb7fbc6fe2b7637c1a03b?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                                        class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                                        alt="" />
                                                    <a href="#">Liên hệ</a>
                                                </li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Đánh giá</a></li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Tin tức</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <nav class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                                        <div class="flex flex-col grow max-md:mt-10">
                                            <h2 class="text-xl font-medium leading-relaxed text-white">Ứng viên</h2>
                                            <ul
                                                class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                                <li class="gap-1 self-stretch py-1.5"><a href="#">Công việc</a></li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Nhà tuyển
                                                        dụng</a></li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Tổng quan ứng
                                                        viên</a></li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Việc làm đã
                                                        lưu</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <nav class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                                        <div class="flex flex-col grow max-md:mt-10">
                                            <h2 class="text-xl font-medium leading-relaxed text-white">Nhà tuyển dụng
                                            </h2>
                                            <ul
                                                class="flex flex-col self-start mt-4 text-base text-center text-gray-400">
                                                <li class="gap-1 self-start py-1.5"><a href="#">Đăng việc làm</a></li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Duyệt công
                                                        việc</a></li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Bảng điều
                                                        khiển</a></li>
                                                <li class="gap-1 self-start py-1.5 mt-1"><a href="#">Ứng dụng</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <nav class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                                        <div class="flex flex-col max-md:mt-10">
                                            <h2 class="text-xl font-medium leading-relaxed text-white">Hỗ trợ</h2>
                                            <ul
                                                class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                                <li class="gap-1 self-stretch py-1.5"><a href="#">Câu hỏi thường gặp</a>
                                                </li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Chính sách bảo
                                                        mật</a></li>
                                                <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Điều khoản và
                                                        điều kiện</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="flex flex-wrap gap-10 justify-between items-center px-72 py-6 w-full border-t bg-sky-950 border-zinc-500 max-md:px-5 max-md:max-w-full">
                <p class="self-stretch my-auto text-sm leading-none text-gray-500">
                    @ 2024 Itseek - Thực hiện bởi Nguyễn Hồng Phong
                </p>
                <div class="flex gap-5 items-start self-stretch my-auto">
                    <a href="#" aria-label="Facebook"><img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d82db8891ea87d774b36c66d426cda30421077f7065ad493251b1105d8eabf89?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-2.5 aspect-[0.5]" alt="" /></a>
                    <a href="#" aria-label="Twitter"><img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/42e25614210ee1773b41b8d9c7d4af8c7902ef96daae6688c79e03fd37120966?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-5 aspect-square" alt="" /></a>
                    <a href="#" aria-label="Instagram"><img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d22a87789ad0e947d884575f6eb34158ebaffda62e0282d666bff12a5746b2d1?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-5 aspect-square" alt="" /></a>
                    <a href="#" aria-label="LinkedIn"><img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/74fa3b84423a7137544262543028f14f94aa9d3fc71347c8251f9f3c26e92857?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-5 aspect-square" alt="" /></a>
                </div>
            </div>
        </footer>
    </section>
</body>

</html>